.grid {
  display: grid;
  gap: 0;
  width: 80%;
  place-items: center;
}

.box {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

h1 {
  text-align: center;
}

body {
  background-color: lightgrey;
}

.grid-2 {
  background-color: black;
  width: 500px;
  height: 500px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.cell {
  width: 10%;
  height: 10%;
  background: white;
  outline: 1px inset green;
}
