@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url("./assets/starting-page/Full-page.png");
    background-repeat: no-repeat;
}




