

  .about-us{
    text-align: center;
    text-decoration: underline;
    background: #cbf9e9;
  }
  .about{
    text-align: left;
  }
main{
width:99%;
font-family: sans-serif;
}
  
body , h1, .article{
    
    padding-left: 10px;
    background-color:#1dad7b;
  }
 
  .article{
    background: #cbf9e9;
    padding-right: 10px;
    border-radius: 10px;
  }
  
  .article > h3, p {
    margin: 4px;
    font-size: 90%;
    
  }

.nav{
  background-color: #059460; 
  overflow: hidden;
  
  
}

.nav a {
  float: right;
  color: rgb(127, 198, 21);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 
}



.container p{
  text-align: center;
  margin: 30px 0px 10px 0px;
  color:aliceblue ;
  letter-spacing: 2px;
  font-weight: bold;
  }

.container h3{
  color: #000;
  text-align: center;
  margin-bottom: 40px;
  font-size:1.4rem;
}

.social-media{
  text-align: center;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.content{
  padding-right: 55px;
  align-items: center;
}

.card{
  margin-bottom:50px ;
}
