:root {
  --color-cell: #a4529e;
}

body {
  background: url(../../assets/dice-images/background.jpg) center no-repeat,
    #d8969a;
  background-size: cover;
  color: white;
  font-family: "Kristen ITC", serif;
}

.tick-icon {
  color: white;
  font-size: 7rem;
  font-weight: bold;
}

main {
  margin: 60px;
}

header {
  text-align: right;
}

header .leader-board-btn {
  background: black;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  font-family: "Kristen ITC", serif;
}

h1 {
  text-align: center;
  margin-bottom: 70px;
}

.showGridSect {
  display: flex;
  justify-content: space-evenly;
}

.player-container form {
  display: flex;
  align-items: end;
  margin-bottom: 30px;
}

.player-container .name-player-img {
  margin-right: 20px;
}

.player-container .name-player-label {
  margin-right: 20px;
}

.player-container .name-player-edit1 {
  display: block;
}

.player-container .name-player-edit2 {
  display: block;
}

.grid,
.grid-2 {
  display: grid;
  gap: 0;
  width: 500px;
  place-items: center;
  background-color: white;
}

table {
  border-collapse: collapse;
}

.box {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.colored {
  background-color: var(--color-cell);
}

.change-color {
  border-color: var(--color-cell);
  width: 25px;
  background: none;
}

.dice-btn-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.diceRollSect {
  visibility: hidden;
  width: 500px;
  height: 500px;
}

.diceRollSect > h1 {
  text-align: center;
}

.dice-container {
  border: 1px solid rgb(150, 13, 114);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.colmn-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.colmn-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.diceValue {
  width: 200px;
  height: 100px;
  background-color: rgb(14, 72, 123);

  /** Fonts **/
  /*font-family: "League Spartan";*/
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 26px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: -0.466667px;

  color: #ffffff;
}
.valueBox {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  padding: 10px;
}
img {
  width: 100px;
  height: 100px;
}
.emoji-dice {
  font-size: 2em;
  padding: 5px;
  border-radius: 10px;
  background: #012152;
  /* position: absolute;
  left: 40%;
  bottom: 30%;*/
}

.round-score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 26px;
  text-align: center;
  color: rgb(140, 149, 102);
}

/* Restart button */

.restart {
  background-color: rgb(20, 191, 106);
  color: white;
  border: none;
  border-radius: 55px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: medium;
  /* font-style: ; */
  margin-left: 10px;
  margin-right: 10px;
}

.restart:hover {
  background-color: rgb(127, 198, 21);
}

/* Leader board section */
/* body for page 2 */
.page2 {
  /* background-color: #9ecae0; */
  background: url(../../assets/dice-images/background.jpg) center;
  font-family: "Kristen-ITC", serif;
  color: #3a3d51;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.lboard-section {
  width: 500px;
  height: 500px;
  margin: 100px auto 0;
  background-color: #9ecae0;
  border-radius: 5px;
  padding: 25px 40px;
  position: relative;
}

.lboard_wrap {
  position: absolute;
  top: 70px;
  left: 40px;
  background: #1dad7b;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.lboard_wrap .lboard_item {
  padding: 25px;
}

.lboard_wrap .lboard_item .lboard_mem {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #eacd4b;
}

.lboard_wrap .lboard_item .name_bar {
  margin: 0 20px;
  width: calc(100% - 250px);
}

.lboard-section .lboard_mem .img {
  width: 100px;
}
.lboard-section .lboard_mem .img img {
  width: 50px;
  display: block;
  width: 100%;
}

.inner_bar1 {
  width: 95%;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background: #eacd4b;
  border-radius: 5px;
  border-top-right-radius: 0px;
}

.inner_bar2 {
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background: #eacd4b;
  border-radius: 5px;
  border-top-right-radius: 0px;
}

.name_bar span {
  margin-right: 20px;
}
.lboard_wrap .lboard_item .player_score {
  width: 100px;
}

.bar_wrap {
  height: 5px;
  width: 100%;
  background: #ffea83;
  border-radius: 5px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
}

.total_scores {
  margin: 10px;
  padding: 10px;
}
.wins {
  font-weight: bold;
  color: #ffea83;
  padding-top: 10px;
}

.losses {
  font-weight: bold;
  color: #ffea83;
  padding-top: 10px;
}

.lboard_heading {
  margin-right: 50px;
  font-size: 25px;
  font-weight: bolder;
  color: #3a3d51;
}

.clear-animation {
  animation: clear-animation 0.3s ease-in-out;
}

@keyframes clear-animation {
  0% {
    transform: scale(1.2);
  }
  100% {
    background-color: white;
  }
}

.tick-icon {
  color: white;
  font-size: 7rem;
  font-weight: bold;
}

/*ERROR ALERT MESSAGE STYLES FOR CORRECT AND IN CORRECT*/
.error {
  height: 150px;
  width: 200px;
  border-radius: 50%;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  padding: 1.5rem;
}

.tick {
  padding: 1.5rem;
}
.error-message-correct {
  background-color: rgb(14, 72, 123);
}
.error-correct-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  padding: 2.5rem;
  position: relative;
  bottom: 1000px;
  left: 650px;
  background: url(../../assets/dice-images/background.jpg) center no-repeat,
    #d8969a;
  background-size: cover;
  border: 2px solid rgb(150, 13, 114);
  max-width: 500px;
}

.close-correct {
  height: 40px;
  width: 35px;
  padding: 0.1rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: white;
  align-self: flex-start;
  cursor: pointer;
}

.close-correct:hover {
  border: 2px solid rgb(14, 72, 123);
  color: rgb(14, 72, 123);
  color: white;
  border-radius: 20%;
}

.display {
  display: none;
}

/*STYLES FOR MOBILE WIDTHS*/
@media (min-width: 500px) {
  .error-correct-container {
    flex-direction: row;
  }
}
